.article {
    .specialNav {
        margin-bottom: 6em;

        h1 {
            font-size: 1.8em;
            color: #fff;
            font-weight: 400;

            @media (min-width: 768px) {
                font-size: 3em;
                font-weight: 500;
            }
        }
        a {
            color: #202020;
            font-weight: 300;
        }
    }
    p,
    li {
        font-size: 1.2em;

        &.posted {
            padding: 0 0 0em 0;
        }

         p {
             font-size: 1em;
         }

         li {
             font-size: 1em;
         }
    }
}

h3.title {
    font-weight: 200;
    margin-bottom: 1em;
}

.cover {
    margin-bottom: 2em;
    max-width: 1000px;
    box-shadow: 0 0 50px -3px rgba(0, 0, 0, 0.35);
    // margin-top: 2em;
    border-radius: 25px;
}

.footer {
    margin-top: 5em;
}
